
#logo{
float:left;
position: relative;
margin:10px 15px 15px 60px
}
#Logo{
    background:#333;
    overflow: hidden;
 }
 nav ul li{
    font-size: 20pt;
    display: inline-block;
    list-style-type: none;
    width: 24%;
    height: 70px;
    color:white ;
    
 }
 ul li{
     line-height: 80px;
 }
ul {
    text-align: center;
    width:100%;
    height:70px;
    float:left;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
  }
  #navrow{
      float:left;
      margin:10px 15px 15px 10px;
      padding:0;
      width:75%
  }
  #biggun{
      height:450px;
      width:960px;
      display: block;
      margin-left: auto;
      margin-right:auto;
      padding: 20px;
  }
 .container{
     text-align: center;
 }
 .container2{
     height:225px;
     text-align: center;
 }
 .scroll{
     display:inline-block;
     width:480px;
     height:225px;
     border:1px solid black;
     overflow-y: scroll;
     margin:auto;

 }
 .column{
     display:inline-block;
     padding:13px;
     margin: auto;
     
 }
 .fpic{

 }
 footer{
     margin:25px;
     height:100px;
     width:100%;
    background:#333;
    overflow: hidden;
 }
 .button{
     background-color: black;
     color:white;
     float:left;
     height:35px;
     width:120px;
     
     
 }
button:hover{
    background-color: blueviolet;
}

 


  
  
  
  